
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52));
	background:-moz-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-webkit-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-o-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-ms-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52',GradientType=0);
	background-color:#b8e356;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #86ae47;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356));
	background:-moz-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-webkit-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-o-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-ms-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356',GradientType=0);
	background-color:#a5cc52;
}
.myButton:active {
	position:relative;
	top:1px;
}


    .Button {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
	background:-moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25',GradientType=0);
	background-color:#ffc477;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}
.Button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
	background:-moz-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-webkit-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-o-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-ms-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477',GradientType=0);
	background-color:#fb9e25;
}
.Button:active {
	position:relative;
	top:1px;
}

body {
	margin: 0;
	padding: 0;
	background: #AAE74A url(images/img04.gif) repeat-x;
}

body, th, td, input, textarea {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
    }

p, ol, ul {
	line-height: 170%;
}

a:hover {
	text-decoration: none;
}

/* Header */

#header {
	width: 960px;
	height: 120px;
	margin: 0 auto;
}

#logo {
	float: left;
	height: 120px;
    width: 120px;
	margin-left: 10px;
	background: url(images/img01.jpg) no-repeat left center;
}

#logo h1, #logo p {
	text-transform: lowercase;
}

#logo h1 {
	margin: 0;
	padding: 0 0 0 0px;
	letter-spacing: 0px;
	font-size: 3em;
	font-weight: normal;
	color: #000000;
}

#logo h1 a {
	color: #000000;
}

#logo p {
	margin: 0px 0 0 2px;
	padding: 0 0 0 85px;
	text-transform: lowercase;
}

#search {
	float: right;
	width: 179px;
    height: 72px;
}

#search form {
	margin: 0;
	padding: 63px 0 0 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search #s, #search #x {
	float: left;
}

#search #s {
	width: 188px;
	margin: 2px 6px 0 0;
	padding: 2px 5px;
	background: url(images/img02.gif) repeat-x;
	border: 1px solid #ACACAC;
}

#search #x {
	width: 67px;
	height: 28px;
	padding: 0;
	background: #006BFF url(images/img03.gif) no-repeat;
	border: none;
	text-transform: lowercase;
	color: #FFFFFF;
}

/* Menu */

#menu {
	width: 962px;
	height: 50px;
	margin: 0 auto;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 38px;
	padding: 8px 20px 0 20px;
	text-decoration: none;
	text-transform: lowercase;
	color: #000000;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .current_page_item {
	background: url(images/img05.gif) no-repeat;
}

#menu .current_page_item a {
	background: url(images/img06.gif) no-repeat right top;
	font-weight: bold;
}

/* Page */

#page {
	width: 962px;
	margin: 0 auto;
	background: #FFFFFF url(images/img07.gif) repeat-y;
}

/* Content */

#content {
	float: right;
	width: 700px;
	padding: 11px 11px 0 5px;
	background: url(images/img09.gif) no-repeat;
    height: 1088px;
}

#content a {
	color: #FF8900;
}

.pagetitle {
	height: 33px;
	margin: 0;
	padding: 8px 0 0 15px;
	background: url(images/img13.gif) no-repeat;
	font-size: 1.4em;
	color: #FFFFFF;
}

#content #rss-posts {
	display: block;
	margin: -30px 15px 0px 0px;
	padding: 0 20px 0 0;
	background: url(images/rss.gif) no-repeat right center;
	text-align: right;
	font-weight: bold;
	color: #FFFFFF;
}

.post {
	padding: 40px 30px 0 30px;
}

.title {
	margin: 0;
	font-size: 2.4em;
	font-weight: normal;
}

.byline {
	margin: 0 0 20px 0;
}

.meta {
	border-top: 1px dotted #CCCCCC;
	text-align: right;
}

.meta .more, .meta .comments {
	padding-left: 15px;
	background: url(images/img14.gif) no-repeat left center;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 230px;
	padding: 11px 5px 0 11px;
	background: url(images/img08.gif) no-repeat;
    height: 400px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 20px;
}

#sidebar li ul {
	padding: 10px 15px;
     font-size: 1.2em;
}

#sidebar li li {
	margin: 0;
	padding-left: 15px;
	
}

#sidebar h2 {
	height: 33px;
	margin: 0;
	padding: 8px 0 0 15px;
	background: url(images/img11.gif) no-repeat;
	font-size: 1.4em;
	color: #FFFFFF;
}

#sidebar a {
	text-decoration: none;
	color: #0065FF;
}

#sidebar a:hover {	
	text-decoration: underline;
}

/* Footer */

#footer {
	width: 962px;
	margin: 0 auto;
	padding: 30px 0;
	background: url(images/img10.gif) no-repeat;
}

#footer p {
	margin: 0;
	text-align: center;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}